h1 {
    color: #006CAE;
    font-size: 6vw;
    margin-top: 0px;
}

#logo {
    height: 10vw;
    float:right;
    margin:5px;
}
h2 {
    font-size: 4vw;
}

body {
    font-family: PTSans,sans-serif;
    text-align: center;
    font-size: 3vw;
    color:#006CAE;
    /**font-weight: bold*/
    display: block;
    text-align: center;
    max-width: 750px;
	margin: 0 auto !important;
	float: none !important;
    padding: 10px;
}

#datenschutz {
    font-size: 2.4vw;
}





@media screen and (min-width: 650px) {
    h1 {
        font-size: 44px;
        margin-top: 0px;
    }
    h2 {
        font-size: 28px;
    }
    #logo {
        margin: 10px;
        float: right;
        height: 70px;
    }
    body {
        font-size: 14pt;
    }
    #datenschutz {
        font-size: 16px;
    }
}

.content {
    text-align: left;
}


form {
    max-width: 750px;
    background-color: #006BAC;
    margin: 15px;
    padding: 0.3em 0;
    color: white;
    border-radius: 10px;
    text-align: center;
    display: block;
}
/*form > span {*/
/*    display:block;*/
/*    text-align: left;*/
/*    width: 90%;*/
/*}*/
/*form > span > label {*/
/*    text-align: left;*/
/*}*/
form > label {
    display: block;
}

label.input {
    width: 100%;
    display: block;
}
input {
    width: 90%;
    padding: 0.5em 0.8em;
    margin: 0.2em 0 0.6em 0;
    box-sizing: border-box;
    /*border-radius: 10px;*/
    /*border-color: black;*/

    /*border-color: #fff0;*/
    border: 10px transparent;
    border-radius: 6px;
    font-size: .8em;
    text-align: center;
}

#dsgvodiv {
    width: 90%;
    text-align: center;
    padding-left: 30px;
}

#dsgvodiv > input {
    width: 20px;
    height: 20px
}

#dsgvodiv > label {
   /* font-size: 20px;*/
    font-size: .9em;
}

/**input[type=checkbox]{
    font-size: initial;
}*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
form > div > button {
    color: #000084;
    background-color: #009fff;
    width: 90%;
    padding: 0.5em 0.8em;
    margin: 0.2em 0 0.6em 0;
    box-sizing: border-box;
    /*border-radius: 2em;*/
    /*border-color: #fff0;*/
    border: 10px solid transparent;
    font-size: .8em;
}
button.count {
    width: 10%;
    background-color: white;
}
input.count {
    width: 67.5%;
}

.price {
    font-family:'Courier New', Courier, monospace
}
.error {
    border-color: red;
}
/*#ermaessigungen, #ermaessigungen > * {
    /*text-align: left !important;*/
    /*margin: 0.2rem;*/
   /* font-size: 1rem;
}*/

#concertdate {
    width: 90%;
    padding: 0.5em 0.8em;
    margin: 0.2em 0 0.6em 0;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: black;
    font-size: .8em;
    text-align: center;
}

#concertdate > input {
position: absolute;
left: -99999em;
top: -99999em;
}
:checked + label {
    box-shadow: 0 3px 0 -3px #fff,
    inset 0 5px 0 0 #006BAC;
    background-color: #fff !important;
}
#concertdate > label {
        cursor: pointer;
        float: left;
        border: 1px solid #aaa;
        border-bottom: 1;
        background-color: rgb(211, 211, 211);
        margin-right: -1px;
        padding: .5em 1em;
        position: relative;
    }


/* Fuck centering
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: inline-block;
}
*/