<!DOCTYPE html>
    <head>
        <title>Kartenreservierung TU Chor</title>
    </head>
    <body>
        <h2>Die Reservierung ist nun bestätigt</h2>
        <span id="introtext">
            Bitte überweise nun den angegebenen Betrag bis zum <b>25.3.2022</b> auf unser Konto.<br>
            Sollte wir deine Zahlungs bis dahin nicht erhalten werden wir die Tickets wieder freigeben.<br>
            Bitte achte darauf den Verwendungszweck exakt wie angegebenen anzugeben damit wir deine Zahlungs zuordnen können.<br><br>
        </span>
        <span id="paymentinfo">
            IBAN: AT6666666666666666<br>
            BIC: SWAGYOLO<br>
            Betrag: 555555555555€<br>
            <strong>Verwendungszweck: KR2235</strong><br>
        </span>
    </body>