<!DOCTYPE html>
    <head>
        <title>Kartenreservierung TU Wien Chor</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- I use jQuery because I'm *that* lazy-->
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <script type="text/javascript" src="/static/js.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div class="main">
        <div class="content">
        <h1>Reservierung bestätigt!<a href="https://www.tuwien.at/chor"><img id="logo" src="/static/tu_chor_final_blau.png" alt="Logo TU Wien Chor"></a></h1>
        <span id="emailtext">
            {% if newly_confirmed %}
            Ihre Reservierung wurde somit bestätigt!<br>
            {% else %}
            Diese Reservierung wurde schon bestätigt.<br>
            {% endif %}
            <br>
            Bitte überweisen Sie den Betrag von <b>{{ total }}</b> spätestens am <b>{{ latest_payment_date }}</b> mit dem Verwendungszweck <b>{{ payment_reference }}</b> auf das Konto des TU Wien Chors. <br>
            Sollte bis zum Konzerttag um 10:00 keine Überweisung eingelangt sein, werden die Tickets automatisch storniert.<br>
            <br>
            <h4>Überweisungsdaten:</h4>
            IBAN: <b>AT78 1420 0200 1094 2560</b><br>
            Ihr Verwendungszweck: <b>{{ payment_reference }}</b><br>
            Betrag: <b>{{ total }}</b><br>
            <br>
            <br>
            Die Zahlungsdetails sind auch via E-Mail gesendet worden. <br>
            <br>
            Danke für Ihre Reservierung, wir freuen uns auf Ihr Kommen.<br>
            <br>
            Musikalische Grüße,<br>
            TU Wien Chor
        </span>
        </div>
    </div>
    </body>
</html>