<!DOCTYPE html>
    <head>
        <title>Kartenreservierung TU Wien Chor</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- I use jQuery because I'm *that* lazy-->
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <script type="text/javascript" src="/static/js.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div class="main">
        <div class="content">
        <h1>Oh nein!<a href="https://www.tuwien.at/chor"><img id="logo" src="/static/tu_chor_final_blau.png" alt="Logo TU Wien Chor"></a></h1>
        <span id="emailtext">
            Ihre E-Mail <b>{{ email }}</b> funktioniert wohl nicht.
            Bitte kontrollieren Sie die Schreibweise der Mail-Addresse. <br>
            <br>
            Sollte dies öfters auftreten, bitte kontaktieren Sie uns per E-Mail an <a href="mailto:chor@tuwien.ac.at">chor@tuwien.ac.at</a>.
        </span>
        </div>
    </div>
    </body>
</html>