<!DOCTYPE html>
    <head>
        <title>Kartenreservierung TU Chor</title>
        <!--- TODO add here some javascript that throws an error if total cards > cards available-->
        <link rel="stylesheet" href="static/style.css" type="text/css">
        <script type="text/javascript" src="static/js.js"></script>
    </head>
    <body>
        <div class="main">
        <div class="content">
        <h1>Herzlich willkommen zum Ticketverkaufstool</h1>
        <span class="introtext">
            Aktuell sind noch {{ cards_left }} Karten zum Verkauf verfügbar!
            <ol>
                <li>Studentenpreis: {{ concerts[0].full_price }}€</li>
                <li>Erwachsenen und Kinderpreis: {{ concerts[0].student_price }}€</li>
            </ol>
        </span>
        </div>
        <div class="content">
        <h1>Reservierungsformular</h1>
        <form method="POST" action="/reserved">
            <select id="concertdate" name="concertdate">
                {% for concert  in concerts %}
                    <option value="{{ concert.concert_id }}">{{ concert.date_concert }}</option>
                {% endfor %}
            </select>
            <label for="concertdate">Konzerttag</label><br>
            <input type="text" id="name" name="name">
            <label for="name">Name</label><br>
            <input type="email" id="email" name="email">
            <label for="email">E-Mail Addresse</label><br>
            <input type="number" max="10" min="0" name="poor_people_tickets" id="tickets_student">
            <label for="poor_people_tickets">Tickets Studentenpreis</label><br>
            <input type="number" max="11" min="0" id="tickets_full" name="tickets_full">
            <label for="tickets_full">Tickets Vollpreis</label><br>
            <input type="Submit" value="Reservierung Abschicken!">
        </form>
    </div>
    </div>
    </body>