<!DOCTYPE html>
    <head>
        <title>Kartenreservierung TU Chor</title>
        <!--- TODO add here some javascript that throws an error if total cards > cards available-->
    </head>
    <body>
        <h2>Herzlich willkommen zum Ticketverkaufstool</h1>
        <span class="introtext">
            Aktuell sind noch {{ cards_left }} Karten zum Verkauf verfügbar!
            <ol>
                <li>Studentenpreis: {{ concerts[0].full_price }}€</li>
                <li>Erwachsenen und Kinderpreis: {{ concerts[0].student_price }}€</li>
            </ol>
        </span>
        <h1>Reservierungsformular</h2>
        <form method="POST" action="/reserved">
            <select id="concertdate">
                {% for concert  in concerts %}
                    <option value="{{ concert.concert_id }}">{{ concert.date_concert }}</option>
                {% endfor %}
            </select>
            <label for="concertdate">Konzerttag</label><br>
            <input type="text" id="name">
            <label for="name">Name</label><br>
            <input type="email" id="email" name="email">
            <label for="email">E-Mail Addresse</label><br>
            <input type="number" max="10" min="0" id="poor_people_tickets">
            <label for="poor_people_tickets">Tickets Studentenpreis</label><br>
            <input type="number" max="11" min="0" id="tickets_full">
            <label for="tickets_full">Tickets Vollpreis</label><br>
            <input type="Submit" value="Reservierung Abschicken!">
        </form>
    </body>