<!DOCTYPE html>
    <head>
        <title>Kartenreservierung TU Wien Chor</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- I use jQuery because I'm *that* lazy-->
        <link rel="stylesheet" href="static/style.css" type="text/css">
        <script type="text/javascript" src="static/js.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="main">
        <div class="content">
            <h1>Kartenverkauf<a href="https://www.tuwien.at/chor"><img id="logo" src="static/tu_chor_final_blau.png" alt="Logo TU Wien Chor"></a></h1>
            <div class="introtext">
                Das Ticketingtool befindet sich kurz im <b>Wartungsmodus</b>, damit wir einen Fehler beheben können.
                <br><br>
                Wartungsfenster: <b>{{ maintenance_text }}</b>
                <br>
                <br>
                Wir möchten Sie für diese Unannehmlichkeit um Entschuldigen bitten.<br>
                Bitte probieren Sie es in Kürze erneut, wir freuen uns auf Ihren Besuch!
            </div>
    </div>
    </body>
