<!DOCTYPE html>
    <head>
        <title>Kartenreservierung TU Wien Chor</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- I use jQuery because I'm *that* lazy-->
        <link rel="stylesheet" href="/static/style.css" type="text/css">
        <script type="text/javascript" src="/static/js.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <div class="main">
        <div class="content">
        <h1>Kartenverkauf<a href="https://www.tuwien.at/chor"><img id="logo" src="/static/tu_chor_final_blau.png" alt="Logo TU Wien Chor"></a></h1>
        <span id="introtext">
            Vielen Dank für Ihr Interesse am TU Wien Chor. Aktuell stehen leider keine Konzerttickets zum Verkauf. <br><br>
            Die nächsten Konzerttermine werden auf der Website des <a href="https://www.tuwien.at/chor">TU Wien Chors</a> bekanntgegeben
            und frühzeitig via <a href="https://list.tuwien.ac.at/sympa/subscribe/chor-news">Newsletter</a> ausgesendet. <br>
            <br>
            Fragen zum Ticketverkauf richten Sie bitte an <a href="mailto:chor@tuwien.ac.at">chor@tuwien.ac.at</a>.
        </span>
        <div id="credits" style="font-size: 8pt;text-align: right;">
            <a href="/admin" style="color: inherit; text-decoration: none ">powered by kanon &amp; uli</a>
        </div>
        </div>
    </div>
    </body>
</html>