<!DOCTYPE html>
    <head>
        <title>Kartenreservierung TU Wien Chor</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- I use jQuery because I'm *that* lazy-->
        <link rel="stylesheet" href="static/style.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="main">
        <div class="content">
            <h1>Kartenverkauf<a href="https://www.tuwien.at/chor"><img id="logo" src="static/tu_chor_final_blau.png" alt="Logo TU Wien Chor"></a></h1>
            <div class="introtext">
                <br>
                Der Online-Ticketverkauf ist leider seit <b>Mittwoch, 22. Juni, 10:00</b> geschlossen. <br>
                Tickets können bei der Abendkassa bezogen werden.* <br>
                <br>
                Ticketpreise: € 15,00 (Vollpreis) / € 5,00 (Ermäßigt) <br>
                <div id="ermaessigungen">
                    <br>
                    Ermäßigungen gelten für:
                    <ul>
                        <li>Alle bis 14 Jahren</li>
                        <li>Studierende</li>
                        <li>Wehrdienst-, Zivildiest- und FSJ-leistende</li>
                        <li>Lehrlinge</li>
                        <li>Schüler_innen</li>
                    </ul>
                    Kinder, die auf dem Schoß sitzen, benötigen kein eigenes Ticket.
                </div>
                <br>
                Wir freuen uns auf Ihr Kommen! <br>
                Musikalische Grüße, <br>
                der <a href="https://tuwien.at/chor">TU Wien Chor</a> <br>
                <br>
                <br>

            </div>

            <div id="sternderl">
                * Es sollten genügend Tickets verfügbar sein, trotzdem gilt natürlich: Nur solange der Vorrat reicht.
            </div>
        </div>

    <div class="content">
        <div id="datenschutz">
            <a id="dse"></a>
            <h3>Datenschutzerklärung</h3>
            Dem TU Wien Chor, Wiedner Hauptstraße 8-10/E136, 1040 Wien, ZVR-Zahl: 508889012,
            E-Mail: chor@tuwien.ac.at, ist es ein wichtiges Anliegen, Ihre personenbezogenen Daten ausreichend
            zu schützen. Wir beachten deshalb die anzuwendenden Rechtsvorschriften,
            insbesondere die Datenschutzgrundverordnung (DSGVO) und das anzuwendende Datenschutzgesetz
            in der geltenden Fassung (DSG) zum Schutz, rechtmäßigen Umgang und zur Geheimhaltung
            personenbezogener Daten sowie zur Datensicherheit.<br><br>
            Mit dem Absenden dieses Formulars speichern und verarbeiten wir Ihre eingegebenen
            Daten (Name, E-Mail, Bankverbindung, Zahlbetrag) gemäß Art 6 Abs 1 DSGVO.<br>
	    Ihre Daten werden kurz nach dem Konzert wieder gelöscht.
            <!-- Gemäß dieser Grundlage bleiben Ihre angegebenen Daten bis zur Stornierung der Reservierung,
            oder bei abgeschlossenem Verkauf mindestens 7 Jahre zur Einhaltung vereins-,
	    und steuerrechtlicher Vorgaben gespeichert. --> Sie haben jederzeit das Recht Einsicht auf Ihre
            Daten zu nehmen. Bitte kontaktieren Sie uns dazu per Mail unter <a href="mailto:chor@tuwien.ac.at">chor@tuwien.ac.at</a>
        </div>
        <div id="credits" style="font-size: 8pt;text-align: right;">
            <a href="/admin" style="color: inherit; text-decoration: none ">powered by kanon &amp; uli</a>
        </div>

    </div>
    </div>
    </body>
